@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative; }

h1, h2, h3, h4, h5 {
  font-weight: 600;
  line-height: 1.4; }

.connectFourBoard,
.column,
.gameInfo {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.gameContainer {
  position: relative;
  min-width: 300px;
  max-width: 700px;
  width: 80%;
  height: auto;
  margin: 0 auto; }

.perspective {
  perspective-origin: center center;
  perspective: 5000px; }

.perspectiveChild {
  transition: transform 0.3s ease; }

.perspectiveChild.active {
  transform: rotateX(-15deg); }

.connectFourBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 14% auto 0;
  width: 100%;
  height: auto; }

.column {
  display: flex;
  flex-direction: column-reverse;
  background-color: transparent;
  transition: background-color 0.2s ease;
  border: none;
  outline: none;
  position: relative;
  width: 12.5%;
  height: 532px;
  min-height: 228px; }

.column:hover {
  cursor: pointer; }

.column:hover::after {
  content: '';
  position: absolute;
  width: 80.85%;
  height: 80.85%;
  background-image: url("../img/yellow_disc.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 9.57%;
  top: -80px; }

.switch .column:hover::after {
  background-image: url("../img/red_disc.svg"); }

.column:first-child {
  margin-left: 2.3%; }

.column:last-child {
  margin-right: 2.3%; }

.boardSinglet {
  fill: #9CD2EA;
  stroke: none;
  fill-rule: evenodd; }

@media (max-width: 880px) {
  .column {
    height: calc( (80vw + 1vw) /8 * 6 ); }

  .column:hover::after {
    top: calc(-10% - 2vw); } }
@media (max-width: 540px) {
  .connectFourBoard {
    margin-top: 8%; }

  .column:hover::after {
    display: none; } }
@media (max-width: 540px) and (max-height: 440px) {
  body {
    background-color: rgba(255, 240, 80, 0.3); }

  .switch {
    background-color: rgba(255, 115, 135, 0.2); }

  .gameContainer,
  .buttonArea {
    width: 50%; }

  .gameContainer .column {
    min-height: auto;
    height: 228px; } }
.discArea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5; }

.deselect.column:hover::after {
  display: none; }

.deselectAll .column:hover::after {
  display: none; }

.deselectAll .column:hover,
.deselect.column:hover {
  background-color: transparent;
  cursor: default; }

.connectFourBoard img {
  flex-grow: 0;
  z-index: 5; }

.red,
.yellow {
  color: white; }

.gameInfo {
  margin: 15px auto 15px;
  text-align: center;
  background-color: #a8b4cf;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding: 15px 20px;
  box-shadow: 0 -5px #7a8aae;
  position: relative;
  min-width: 280px;
  max-width: 680px;
  width: calc(80% - 20px);
  height: auto; }

.redScore,
.yellowScore {
  width: 8vw;
  height: 8vw;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center; }

.redScore {
  background-color: #B83549;
  border: 4px solid #FF7590; }

.yellowScore {
  background-color: #EE7C0D;
  border: 4px solid #FFAD00; }

.redScore h5,
.yellowScore h5 {
  margin: 0;
  color: white;
  font-size: 36px;
  width: 100%; }

.gameInfo h2 {
  margin: 0;
  font-size: 32px; }

.turnMessages .red {
  display: none; }
.turnMessages .yellow {
  display: block; }

.switch .turnMessages .red {
  display: block; }
.switch .turnMessages .yellow {
  display: none; }

.winMessages .red {
  display: none; }
.winMessages .yellow {
  display: none; }

.redWin .turnMessages,
.yellowWin .turnMessages {
  display: none; }

.redWin .winMessages .red {
  display: block; }

.yellowWin .winMessages .yellow {
  display: block; }

.buttonArea {
  margin: 5px auto 0; }

@media (max-width: 880px) {
  .gameInfo h2 {
    font-size: 4vw; } }
@media (max-width: 540px) {
  .gameInfo {
    padding: 2.5vw 3vw;
    border-radius: 3vw;
    box-shadow: 0 -3px #7a8aae; }

  .redScore h5,
  .yellowScore h5 {
    font-size: 3.5vw; } }
@media (max-width: 540px) and (max-height: 440px) {
  .gameInfo {
    display: none; } }
.restartGame {
  width: 200px;
  padding: 15px;
  outline: medium none;
  border: medium none;
  box-shadow: 0 -5px #2a87c2;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #57a9dd;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s ease; }

.restartGame:hover {
  cursor: pointer;
  box-shadow: 0 -4px #2a87c2;
  transform: translateY(-1px); }

.restartGame:active {
  box-shadow: 0 0 #2a87c2;
  transform: translateY(-5px); }

.buttonArea .restartGame:disabled {
  cursor: not-allowed;
  position: relative; }

.buttonArea .restartGame:disabled::before {
  content: url(../img/circularLoader.svg);
  position: absolute;
  top: 30%;
  left: 10%; }

.yellowWin .restartGame:disabled::before,
.redWin .restartGame:disabled::before {
  left: 7%; }

.restartGame.newGame {
  background-color: #26b492;
  box-shadow: 0 -5px #179174; }

.restartGame.newGame:hover {
  box-shadow: 0 -4px #179174; }

.restartGame.newGame:active {
  box-shadow: 0 0 #179174; }

@media (max-width: 540px) {
  .restartGame {
    width: 150px;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: 0 -3px #2a87c2; }

  .restartGame:hover {
    box-shadow: 0 -2px #2a87c2; }

  .restartGame:active {
    box-shadow: 0 0 #2a87c2;
    transform: translateY(-3px); }

  .restartGame.newGame {
    box-shadow: 0 -3px #179174; }

  .restartGame.newGame:hover {
    box-shadow: 0 -2px #179174; }

  .restartGame.newGame:active {
    box-shadow: 0 0 #179174; }

  .buttonArea .restartGame:disabled::before {
    display: none; } }
@media (max-width: 540px) and (max-height: 440px) {
  .messageArea {
    margin-top: 10px; } }
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(0px); }
  15% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(1200px); } }
@keyframes slideDown {
  0% {
    transform: translateY(0px); }
  15% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(800px); } }
#discAreaGroup.moveOut {
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-name: slideDown;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out; }

.modalOverlay {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 1s, opacity 0.3s ease; }

.show.modalOverlay {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease; }

.modalContent {
  box-sizing: border-box;
  position: absolute;
  top: 30vw;
  left: 10%;
  padding: 12vw 6vw;
  width: 80%;
  height: auto;
  background-color: #28ae9a;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transform: translateY(800px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.5s ease; }

.show .modalContent {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease; }

.modalContent h3 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 6vw;
  margin: 0; }

/*# sourceMappingURL=main.css.map */
