@keyframes slideDown {
    0% { transform: translateY(0px)}
    15% { transform: translateY(-10px)}
    100% { transform: translateY(800px)}
}

@keyframes turnMark {
    from { box-shadow: 0px 0px 0px 3px white;}
    to { box-shadow: 0px 0px 0px 0px white;}
}

@keyframes wiggle {
    0% { transform: translateX(3px);}
    33% { transform: translateX(-3px); }
    67% { transform: translateX(3px); }
    100% { transform: translateX(0px); }
}

@keyframes bigWiggle {
    0% { transform: translateX(6px);}
    33% { transform: translateX(-6px); }
    67% { transform: translateX(6px); }
    100% { transform: translateX(0px); }
}
