// Variables
$mainBackground: #22355E;
$redDiscFore: #b23548;
$redDiscForeDark: #7b2431;
$redDiscBack: #ff6684;
$yellowDiscFore: #E59139;
$yellowDiscForeDark: #935d24;
$yellowDiscBack: #ffd932;
$redDisc: "../img/red_disc.svg";
$yellowDisc: "../img/yellow_disc.svg";
$boardFore: #5EAACD;
$boardShadow: #29799E;
$restartGreenFore: rgb(38, 180, 146);
$restartGreenShadow: rgb(23, 145, 116);
$onlineBlueFore: #1E76D2;
$onlineBlueShadow: #185EA8;

$onlineOverlayBack: rgba(0, 0, 0, 0.7);
$onlineOverlayFore: #1D2032;

$cancelRedFore: #C4394E;
$cancelRedBack: #881D2D;
