body {
    margin:0;
}

.connectFourBoard {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    max-width: calc(94px * 8);
    border: 15px solid #9CD1EA;
    border-radius: 35px;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.column:hover {
    background-color: rgba(238, 204, 60, 0.25);
    cursor: pointer;
}

.switch .column:hover {
    background-color: rgba(200, 47, 70, 0.20);
}

.deselectAll .column:hover,
.deselect.column:hover {
    background-color: transparent;
    cursor: default;
}

.connectFourBoard img {
    flex-grow: 0;
    z-index: 5;
}

.discArea {
    position: absolute;
    top: 0;
    left: 0;
}

.disc {
    position: absolute;
    z-index: -5;
}

.red {
    color: tomato;
}

.yellow {
    color: goldenrod;
}

.messageArea {
    margin-top:20px;
    text-align: center;
    font-family: sans-serif;
    font-size: calc( 18px + 1vw );
}

.turnMessages {
    .red {
        display: none;
    }
    .yellow {
        display: block;
    }
}

.switch .turnMessages{
    .red {
        display: block;
    }
    .yellow {
        display: none;
    }
}

.winMessages {
    .red {
        display: none;
    }
    .yellow {
        display: none;
    }
}

.redWin .turnMessages,
.yellowWin .turnMessages {
    display: none;
}

.redWin {
    .winMessages .red {
        display: block;
    }
}

.yellowWin .winMessages {
    .winMessages .yellow {
        display: block;
    }
}
