@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

// Variables
$mainBackground: #22355E;
$redDiscFore: #b23548;
$redDiscForeDark: #7b2431;
$redDiscBack: #ff6684;
$yellowDiscFore: #E59139;
$yellowDiscForeDark: #935d24;
$yellowDiscBack: #ffd932;
$redDisc: "../img/red_disc.svg";
$yellowDisc: "../img/yellow_disc.svg";
$boardFore: #5EAACD;
$boardShadow: #29799E;
$gameInfoBoard: #a8b4cf;
$gameInfoShadow: #7a8aae;
$restartGreenFore: rgb(38, 180, 146);
$restartGreenShadow: rgb(23, 145, 116);
$restartBlueFore: rgb(87, 169, 221);
$restartBlueShadow: #2a87c2;

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
    margin:0;
    position: relative;
    background-color: $mainBackground;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    line-height: 1.4;
}

.connectFourBoard,
.column,
.gameInfo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameContainer {
    position: relative;
    min-width: 300px;
    max-width: 700px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.perspective {
    perspective-origin: center center;
    perspective: 5000px;
}

.perspectiveChild {
    transition: transform 0.3s ease;
}

.perspectiveChild.active {
    transform: rotateX(-15deg);
}

.connectFourBoard {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 14% auto 0;
    width: 100%;
    height: auto;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    transition: background-color 0.2s ease;
    border:none;
    outline:none;
    position: relative;
    width: 12.5%;
    height: 532px;
    min-height: 228px;
    padding: 0;
}

.column:hover {
    cursor: pointer;
}

.column:hover::after,
.column:active::after {
    content: '';
    position:absolute;
    width: 80.85%;
    height: 80.85%;
    background-image: url($yellowDisc);
    background-repeat: no-repeat;
    background-size: contain;
    left: 8%;
    top: -80px;
}

.switch .column:hover::after,
.switch .column:active::after {
    background-image: url($redDisc);
}

.column:active::after {
    transform: translateY(10px);
}

.column:first-child {
    margin-left: 3.6%;
}

.column:last-child {
    margin-right: 3.6%;
}

@media (max-width:880px){
    .column {
        height: calc( (80vw + 1vw) /8 * 6 );
    }
    .column:hover::after {
        top: calc(-10% - 2vw);
    }
}

@media (max-width:540px){
    .connectFourBoard {
        margin-top: 8%;
    }
    .column:hover::after {
        display: none;
    }

    @media (max-height:440px){
        body {
            background-color: rgba(255, 240, 80, 0.3);
        }
        .switch {
            background-color: rgba(255, 115, 135, 0.2);
        }
        .gameContainer,
        .buttonArea {
            width: 50%;
        }
        .gameContainer .column {
            min-height: auto;
            height: 228px;
        }
    }
}

.discArea {
    position: absolute;
    top:0;
    left: 0;
    z-index: -5;
}

.deselect.column:hover::after {
    display: none;
}

.deselectAll .column:hover::after {
    display: none;
}

.deselectAll .column:hover,
.deselect.column:hover {
    background-color: transparent;
    cursor: default;
}

.connectFourBoard img {
    flex-grow: 0;
    z-index: 5;
}

.red,
.yellow {
    color: white;
}

.gameInfo {
    margin: 15px auto 15px;
    text-align: center;
    background: linear-gradient(to right, $redDiscFore, $yellowDiscFore);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 15px 20px;
    position: relative;
    min-width: 280px;
    max-width: 680px;
    width: calc(80% - 20px);
    height: auto;
}

.gameInfo::before {
    background: linear-gradient(to right, $redDiscForeDark, $yellowDiscForeDark);
    content: '';
    border-radius: 20px;
    position: absolute;
    left: 0%;
    top: -5px;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.gameInfo::after {
    content: ""
}

.redScore,
.yellowScore {
    width: 8vw;
    height: 8vw;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    z-index:0;
    position: relative;
}

.redScore {
    background-color: $redDiscFore;
    border: 4px solid $redDiscBack;
}

.yellowScore {
    background-color: $yellowDiscFore;
    border: 4px solid $yellowDiscBack;
}

@keyframes turnMark {
    from { box-shadow: 0px 0px 0px 3px white;}
    to { box-shadow: 0px 0px 0px 0px white;}
}

.yellowScore,
.switch .redScore {
    animation-name: turnMark;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.switch .yellowScore {
    animation: none;
}

.redScore h5,
.yellowScore h5 {
    margin: 0;
    color: white;
    font-size: 36px;
    width: 100%;
}

.gameInfo h2 {
    margin: 0;
    font-size: 32px;
}

@keyframes wiggle {
    0% { transform: translateX(3px);}
    33% { transform: translateX(-3px); }
    67% { transform: translateX(3px); }
    100% { transform: translateX(0px); }
}

.turnMessages .red,
.switch .turnMessages .yellow {
    display: none;
}

.turnMessages .yellow,
.switch .turnMessages .red {
    display: block;
    animation-name: wiggle;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.winMessages .red,
.winMessages .yellow,
.redWin .turnMessages,
.yellowWin .turnMessages {
    display: none;
}

@keyframes bigWiggle {
    0% { transform: translateX(6px);}
    33% { transform: translateX(-6px); }
    67% { transform: translateX(6px); }
    100% { transform: translateX(0px); }
}

.redWin .winMessages .red,
.yellowWin .winMessages .yellow {
    display: block;
    animation-name: wiggle;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.buttonArea {
    margin: 5px auto 0;
}

@media (max-width:880px){
    .gameInfo h2 {
        font-size: 4vw;
    }
}

@media (max-width:540px){
    .gameInfo {
        padding: 2.5vw 0;
        border-radius: 3vw;
    }
    .gameInfo::before {
        top: -4px;
        border-radius: 3vw;
    }
    .redScore h5,
    .yellowScore h5 {
        font-size: 3.5vw;
    }
    @media (max-height:440px){
        .gameInfo {
            display: none;
        }
    }
}

.restartGame {
    width: 200px;
    padding: 15px;
    outline: medium none;
    border: medium none;
    box-shadow: 0 -5px $restartGreenShadow;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: $restartGreenFore;
    margin: 0 auto;
    display: block;
    transition: background-color 0.3s ease;
}

.restartGame:hover {
    cursor: pointer;
    box-shadow: 0 -4px $restartGreenShadow;
    transform: translateY(-1px);
}

.restartGame:active {
    box-shadow: 0 0 $restartGreenShadow;
    transform: translateY(-5px);
}

.buttonArea .restartGame:disabled {
    cursor: not-allowed;
    position: relative;
}

.buttonArea .restartGame:disabled::before {
    content: url(../img/circularLoader.svg);
    position: absolute;
    top: 30%;
    left: 10%;
}

.yellowWin .restartGame:disabled::before,
.redWin .restartGame:disabled::before {
    left: 7%;
}

@media (max-width:540px){
    .restartGame {
        width: 150px;
        padding: 10px;
        border-radius: 6px;
        font-size: 16px;
        box-shadow: 0 -3px $restartGreenShadow;
    }
    .restartGame:hover {
        box-shadow: 0 -2px $restartGreenShadow;
    }
    .restartGame:active {
        box-shadow: 0 0 $restartGreenShadow;
        transform: translateY(-3px);
    }
    .buttonArea .restartGame:disabled::before {
        display: none;
    }
    @media (max-height:440px){
        .messageArea {
            margin-top: 10px;
        }
    }
}

@-webkit-keyframes slideDown {
    0% { transform: translateY(0px)}
    15% { transform: translateY(-10px)}
    100% { transform: translateY(1200px)}
}

@keyframes slideDown {
    0% { transform: translateY(0px)}
    15% { transform: translateY(-10px)}
    100% { transform: translateY(800px)}
}

#discAreaGroup.moveOut {
    -webkit-animation-name: slideDown;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    animation-name: slideDown;
    animation-duration: 1.5s;
	animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.modalOverlay {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 20;
    opacity:0;
    visibility: hidden;
    transition: visibility 0s linear 1s, opacity 0.3s ease;
}

.show.modalOverlay {
    visibility: visible;
    opacity:1;
    transition: opacity 0.3s ease;
}

.modalContent {
    box-sizing: border-box;
    position: absolute;
    top: 30vw;
    left: 10%;
    padding: 12vw 6vw;
    width: 80%;
    height: auto;
    background-color: rgb(40, 174, 154);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transform: translateY(800px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.5s ease;
}

.show .modalContent {
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modalContent h3 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 6vw;
    margin: 0;
}
